html {
  font-size: 62.5%;
}

/* Heading */

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #007cb9;
  transform: scale(1.9);
}

ul {
  list-style: none;
}

header h1 {
  margin-left: 3%;
  font-weight: 400;
  font-size: 3.5rem;
  align-self: center;
}

.heading--container {
  background-color: red;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  background: rgb(209, 12, 12);
  background: linear-gradient(
    90deg,
    rgba(209, 12, 12, 1) 45%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.heading {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  background: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 758px) {
  .heading--container {
    display: grid;
    height: 8rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .menu-icon {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 1rem;
    margin-right: 2rem;
    justify-self: end;
  }

  header h1 {
    align-self: start;
  }

  .collapsed {
    display: none;
  }

  .heading {
    height: 20rem;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    padding-left: 0;
    margin: 0 0 0 1.8rem;
    grid-column-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  #about {
    padding: 1.5rem 0;
    border-bottom: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
  }

  .menu-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 620px) {
  header h1 {
    font-size: 2.5rem;
    margin-left: 1.5rem;
  }

  .heading--container {
    height: 7rem;
  }

  .menu-icon {
    margin-top: 0;
  }

  .heading {
    margin-top: 0.8rem;
    font-size: 2.5rem;
  }

  #about {
    padding: 1.8rem 0;
  }
}
